.iframebox {
  // display: flex;
  // justify-content: center;
  min-height: 600px;
  width: 1200px;
  margin: 0 auto;
  overflow-y: auto;
  border-radius: 6px;
  background: #fff;
  padding: 40px 60px;
}
.inframcontent {
  border: medium none;

  background: #fff;
}
